* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
}

.skip-link {  
  color: #007bff;
  padding: 10px;  

}

.navbar ul {
  list-style: none;
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
}

.main-content {
  padding: 20px;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 50px;
}

.image img {
  width: 300px; 
  height: auto;
  border: 5px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"], input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
  }
}